body{
  font-family: arial, serif;
  color: #353535;
  margin: 0;
}

/*header*/

header figure{
  width: 100%;
  height: 100%;
}

header img{
  width: 60%;
}

header aside, header section{
  display: inline-block;
  vertical-align: middle;
}

header aside{
  width: 20%;
  height: 200px;
}

header section{
  width: 79%;
  text-align: center;
}

h1{
  background: #d1b242;
  color: white;
  padding: 0.5em;
}

/*section home*/

nav li{
  list-style: none;
  margin: 1em auto;
}

nav a{
  color: #353535;
  text-decoration: none;
}

nav a:hover, #act{
  color: #d1b242;
}

#cont{
  border-left: 1px #353535 solid;
  padding: 0.5em;
  background: #f2f2f2;
}

#cont1{
  border-left: 1px #353535 solid;
  background: #c6c9bd;
  color: white;;
  padding: 0.5em;
}

#cont:hover{
  background: #c6c9bd;
  color: white;;
}

.home aside, .home section{
  display: inline-block;
  vertical-align: top;
}

.home aside{
  width: 20%;
}

.home section{
  width: 79%;
}

.home a{
  text-decoration: none;
  color: black;
}

.pool, .contact p, h2{
  text-align: center;
}

.pool img, .piscine img, .piscine, .pool figure{
  width: 100%;
}

.pool figure{
  margin: 0;
}

.piscine figure{
  width: 70%;
  margin-bottom: 4em;
  margin-left: 0;
}

.coute, .piscine figure{
  display: inline-block;
  vertical-align: middle;
}

.coute{
  width: 25%;
}

.coute span{
  background: #d1b242;
  padding: 0.5em;
}

.coute p{
  line-height: 2em;
}

.coute a{
  text-decoration: underline;
}

.piscine p{
  text-align: justify;
  line-height: 2em;
}

.piscine img:hover{
  opacity: 0.9;
}

.block p{
  background: #f2f2f2;
  padding: 0.8em;
  margin: 0;
}

.block p:hover{
  background: #c6c9bd;
}

.block{
  width: 33%;
  height: 200px;
  display: inline-block;
  margin: 2em 0;
}

.block figure{
  overflow: hidden;
}

.block img{
  -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.block img:hover{
  transform:scale(1.25);
 -ms-transform:scale(1.25); /* IE 9 */
 -moz-transform:scale(1.25); /* Firefox */
 -webkit-transform:scale(1.25); /* Safari and Chrome */
 -o-transform:scale(1.25);
}

h2{
  border-bottom: 1px solid #c6c9bd;
  line-height: 0.1em;
  margin: 0 9em 2em 9em;
}

h2 span{
    background:#fff;
    padding: 0 4em;
}

.piscine h3{
  text-align: left;
}

input, textarea{
  width: 40%;
  background: #f2f2f2;
  border: 0;
  padding: 0.8em;
  margin: 0.5em auto;
}

textarea{
  margin: 2em auto;
}

.contact button{
  padding: 0.5em;
  border: 0;
  color: #f2f2f2;
  background: #353535;
  margin: 1em 0;
}

.contact button:hover{
  background: #c6c9bd;
  color: #353535;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #c6c9bd;
  padding: 1em;
}

/*footer*/

footer{
  margin: 2em 0 0 0;
  text-align: center;
  border-top: 1px solid #c6c9bd;
}
