body{
  font-family: times, serif;
  font-size: 18px;
  color: #353535;
  margin: 0;
  height: 100%;
}

/*header*/

header figure{
  width: 100%;
  height: 100%;
}

header img{
  width: 60%;
}

header aside, header section{
  display: inline-block;
  vertical-align: middle;
}

header aside{
  width: 20%;
  height: 200px;
}

header section{
  width: 79%;
  text-align: center;
}

h1{
  background: #d1b242;
  padding: 0.5em;
  letter-spacing: 0.1em;
}

/*GLOBAL*/

.home aside{
  width: 20%;
  height: auto;
  position: fixed;
  left: 0;
  letter-spacing: 0.1em;
}

.home section{
  width: 79%;
  position: absolute;
  right: 0;
  height: auto;
}

.home aside, .home section{
  vertical-align: top;
}

/*aside*/

nav li{
  list-style: none;
  margin: 1em auto;
}

a{
  text-decoration: none;
}

.cont:hover, #cont1, h1{
  color: white;
}

.space:hover, #cont1{
  background: #c6c9bd;
}

.space{
  background: #f2f2f2;
}

.space, #cont1{
  margin: 5em 0;
  padding: 0.5em;
  border-left: 1px #353535 solid;
}

#cont1 span:hover, a{
  color: #353535;
}

nav a:hover, #act{
  color: #d1b242;
}

/*section home*/

.justify{
  margin-right: 3em;
  text-align: justify;
}

.pool, #center, h2, .tarifs p{
  text-align: center;
}

.block img, .piscineimg img, .pool figure{
  width: 100%;
}

.pool figure{
  margin: 0;
}

.piscineimg{
  width: 70%;
  margin: auto auto 5em 0;
}

.coute, .piscineimg{
  display: inline-block;
  vertical-align: middle;
}

.coute{
  width: 25%;
}

.coute span{
  padding: 0.5em;
}

.coute p, .justify{
  line-height: 2em;
}

.coute a, table a:hover, #link a{
  text-decoration: underline;
}

.piscine img:hover{
  opacity: 0.9;
}

.block h3{
  background: #f2f2f2;
  padding: 0.8em;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.block h3:hover{
  background: #c6c9bd;
}

.block{
  width: 33%;
  height: 200px;
  display: inline-block;
  margin: 2em 0;
}

.block figure{
  overflow: hidden;
}

.block img, .piscine img{
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.block img:hover{
  transform:scale(1.25);
 -ms-transform:scale(1.25); /* IE 9 */
 -moz-transform:scale(1.25); /* Firefox */
 -webkit-transform:scale(1.25); /* Safari and Chrome */
 -o-transform:scale(1.25);
}

h2{
  border-bottom: 1px solid #c6c9bd;
  line-height: 0.1em;
  margin: 0 9em 2em 9em;
}

h2 span{
  background: white;
  padding: 0 4em;
}

.piscine h3{
  text-align: left;
}

input, textarea{
  width: 40%;
  background: #f2f2f2;
  border: 0;
  padding: 0.8em;
  margin: 0.5em auto;
}

textarea{
  margin: 2em auto;
}

.contact button{
  padding: 0.5em;
  border: 0;
  color: #f2f2f2;
  background: #4f4f4f;
  margin: 2em 0;
}

.contact button:hover{
  background: #c6c9bd;
  color: #353535;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #c6c9bd;
  padding: 0.9em;
  margin: 5em 3em 0 3em;
}

.backg, .coute span{
  background: #d1b242;
}

form, #telmail{
  border-bottom: 1px #c6c9bd solid;
}

#telmail p, iframe{
  margin: 1.5em 0;
}

/*footer*/

footer{
  margin: 7em 0 0 0;
  height: 50px;
  width: 99%;
  position: absolute;
  text-align: right;
}

footer img{
  width: 30px;
}

footer a img, .pool{
  margin: 0.5em;
}
