body{
  font-family: arial, serif;
  margin: 0;
}

/*header*/

header figure{
  width: 100%;
  height: 100%;
}

header img{
  width: 60%;
}

header aside, header section{
  display: inline-block;
  vertical-align: middle;
}

header aside{
  width: 20%;
  height: 200px;
}

header section{
  width: 79%;
  text-align: center;
}

h1{
  background: #d1b242;
  color: white;
  padding: 0.5em;
}

/*section home*/

nav li{
  list-style: none;
  margin: 1em auto;
}

nav a{
  color: black;
  text-decoration: none;
}

nav a:hover, #act{
  color: #d1b242;
}

#cont{
  border-left: 1px black solid;
  padding: 0.5em;
}

#cont:hover{
  background: #c6c9bd;
  color: white;;
}
